@using AnimalRoster6.ViewModels;
@model AddCaretakerViewModel;

<h1>Add a new babysitter! 🙂</h1>

<form method="post">
    <div asp-controller="Caretakers" asp-action="Add" class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" type="text" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <input type="submit" value="Add Your Caretaker!" class="btn btn-primary" style="background-color:chartreuse;" />
</form>